Flask
flask-cors
Werkzeug
pyannote.audio
pandas
SpeechRecognition
regex
openai
python-dotenv
scipy
pydub
transformers
git+https://github.com/VarunGumma/IndicTransToolkit.git
onnxruntime
